<h5 class="text-white mt-5" align="center">Empleos ofertados</h5>
<div>
  <div class="container mt-5" *ngFor="let empleo of empleos">
    <div class="row no-gutters border border-primary">
      <div class="col-md-2 bg-primary" >
      </div>
      <div class="col-md-10">
        <div class="card-body text-white">
          <h5 class="card-title">{{ empleo.data.nombre }}</h5>
          <p class="card-text">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill text-muted" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <small class="text-muted">   {{ empleo.data.ubicacion }}</small>
          </p>
          <p class="card-text">{{ empleo.data.descripcion }}</p>
          <p class="text-right"><a href="" class="text-decoration-none">Leer más...</a></p>
        </div>
      </div>
    </div>
  </div>
</div>