<nb-layout>
  <nb-layout-header>Empleos</nb-layout-header>
  <nb-layout-column>
    <nb-reveal-card *ngFor="let empleo of empleos">
      <nb-card-front>
        <nb-card status="success" size="tiny">
          <nb-card-header> {{ empleo.data.nombre }}</nb-card-header>
          <nb-card-body>
            <p><small>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>   {{empleo.data.ubicacion}}
            </small></p>
            <p>{{ empleo.data.descripcion }}</p>
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="info" size="tiny">
         <nb-card-header>Detalles</nb-card-header>
          <nb-card-body>
            <p><strong>Empresa: </strong>{{empleo.data.empresa}}</p>
            <p><strong>Jornada: </strong>{{ empleo.data.jornada }}</p>
            <p><strong>Contrato: </strong>{{ empleo.data.contrato }}</p>
            <p><strong>Salario: </strong>{{ empleo.data.salario }}</p>
            <p><strong>Requisitos: </strong>{{ empleo.data.requisitos }}</p>
            <p><strong>Actividades: </strong>{{ empleo.data.actividades }}</p>
            <p><strong>Ofrecemos: </strong>{{ empleo.data.ofertas }}</p>
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-reveal-card>
  </nb-layout-column>
</nb-layout>