<nb-card>
    <nb-card-header>Encuentra un empleo para tí</nb-card-header>
    <nb-card-body>
      <div align="center"><img src="assets/empleo.jpg"/></div>
    </nb-card-body>
      <nb-search type="rotate-layout"></nb-search>
    
  </nb-card>
  <nb-card>
    <nb-card-header>Oferta un servicio</nb-card-header>
    <nb-card-body>
      <div align="center"><img src="assets/oficios.jpg"/></div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary">Ir</button>
    </nb-card-footer>
  </nb-card>
  <nb-card>
    <nb-card-header>Publica tu perfil para darte a conocer</nb-card-header>
    <nb-card-body>
      <div align="center"><img src="assets/perfiles.jpg"/></div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary">Publicar</button>
    </nb-card-footer>
  </nb-card>