.card {
  max-width: 500px;
}
  
.campo {
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
  
  
h2 {
  text-align: center;
  align-self: center;
}
  
h4 {
  text-align: center;
  margin-bottom: 20px;
}
p {
  text-align: center;
}
  
button {
  margin-right: 10px;
}
  
  